<!DOCTYPE html>
<html lang="en">
  <head>

<title>ART AI</title>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="styles.css">
<style>
.button1 {background-color: #04AA6D;} /* Green */
</style>

</head>
<body>

<div class="header">
  <h1>ART AI assistant</h1>
  <p></p>
</div>

<div class="navbar">
<!--
  <a href="#">Link</a>
  <a href="#">Link</a>
  <a href="#">Link</a>
  <a href="#" class="right">Link</a>
-->
<a href="/home">home</a>
<a href="/login">login</a>
<a href="/register">register</a>
<a href="/about">about</a>

</div>

<div class="row">

  <div class="main">    
    <h2>About the Assistant</h2>
    
    <p>Welcome to the ART Artificial Intelligence website! The purpose of this website is to help ART to get to know you better!
        Using a Spotify API, you can link your Spotify account in order for ART to understand your music tastes 
        and help its reccomendation algorithm. </p>

    <p>The ART AI assistant is an AI used for entertaiment with limited internet connection. <br>
	ART was created with the intent of providing entertainment for people all over the world regardless of their geographic location or access to internet. ART takes 		advantage of the few times you are connected to the internet to download your entertainment media all at once and stores it to internal storage for use without 
	internet access. This feature is crucial to users that live in areas with spotty internet connections and even those who only have internet access in public places. </p>


    <br>
    <p> </p>
  
  </div>

  <div class="side">
    <h2>About us</h2>  
  </div>

  

</div>


</body>
</html>